{{#each posts as |post| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <a href="/post/{{post.id}}">{{post.title}}</a>
    </h2>
    <p>Created by {{post.user.name}} on {{format_date post.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{post.description}}
    </p>
    <div>
      <button class="btn btn-primary editPost" data-id="{{post.id}}">Edit post</button>
      <button class="btn btn-primary deletePost" data-id="{{post.id}}">Delete post</button>
      <br>
    </div>
  </div>
</div>
{{/each}}
{{#if logged_in}}
<div class="form-group">
  <button class="btn btn-primary" id="newPost">Add post</button>
</div>
<div class="text-center hidden addPost">
  <div class="form-group">
    <label id="inputlabel" for="title">Title:</label>
    <input class="form-input" type="text" id="title" />
    <br>
    <br>
    <label id="inputlabel" for="content">Content:</label>
    <textarea class="form-input" type="text" id="content"></textarea>
  </div>
  <br <p>
  <button class="btn btn-primary" id="savePost">save post</button>
  </p>
</div>
{{/if}}

<script src="js/dashboard.js"></script>